<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>


</style>
<body>
    <main>
        <section class="gallery">
            <div class="about-section">
                <h1>Gallery</h1>
                <p class="intro">
                  Welcome to JongNham Restaurant, where we combine passion for food with
                  an unforgettable dining experience.
                </p>
              </div>

            <div class="gallery-head">
                <h1>Appetizer</h1>
    <p>Start your meal with our exquisite appetizers. From light and fresh bites to warm, savory treats, explore our variety of appetizers to awaken your taste buds.</p>
            </div>
            <div class="gallery-grid">
                

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>



                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/specaildish1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="gallery">
            
            <div class="gallery-head">
                <h1>Main Course</h1>
    <p>Indulge in our mouthwatering main courses, featuring a selection of rich flavors and textures. Each dish is carefully crafted with the finest ingredients for a memorable dining experience.</p>
            </div>
            
            <div class="gallery-grid">
                

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>



                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/specaildish1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="gallery">
            
            <div class="gallery-head">
                <h1>Dessert</h1>
    <p>Finish your meal on a sweet note with our irresistible desserts. From decadent chocolate treats to refreshing fruit-based creations, we have something to satisfy every craving.</p>
            </div>
            

            <div class="gallery-grid">
                

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>



                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/specaildish1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>


                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

                <div class="gallery-card">
                    <div class="gallery-img-container">
                        <div class="gallery-img">
                            <img src="/assets/images/dessert1.jpg" alt="Dish 1">
                        </div>
                        <div class="gallery-description gallery-card">
                            <span class="gallery-title">
                                Card
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>
</html>