<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">


  
</head>

<body>
  <section>
    <div class="carousel">

      <div class="list">

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">EAGLE</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>
          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">OWL</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">

              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">CROW</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">BUTTERFLY</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">OWL</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">EAGLE</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">KINGFISHER</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">PARROT</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">HERON</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">BUTTERFLY</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

          <div class="item" style="background-image: url(/assets/images/slide1.jpg);">
              
              <div class="content">
                  <div class="title">SLIDER</div>
                  <div class="name">PARROT</div>
                  <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                  <div class="btn">
                      <button>See More</button>
                      <button>Subscribe</button>
                  </div>
              </div>

          </div>

      </div>

      <!--next prev button-->
      <div class="arrows">
          <button class="prev"><</button>
          <button class="next">></button>
      </div>


      <!-- time running -->
      <div class="timeRunning"></div>

  </div>
  </section>





  <section>
    <div class="home-offer">

      <div class="home-dish-title" >Flavors For Royalty</div>
      <div class="loader"></div>
      <div class="home-dish-name">We Offer Top Notch</div>
      <div class="home-offer-dish-des">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry lorem Ipsum has been the industrys standard dummy text ever.
      </div>
      <div class="home-offer-container" >
        <div class="home-offer-card" >
          <div class="home-offer-image" >
            <img src="/assets/images/specaildish2.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Breakfast</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text">View Menu</span>
              </div>
            </button>
          </div>
        </div>

        <div class="home-offer-card">
          <div class="home-offer-image" >
            <img src="/assets/images/specaildish4.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Appetizers</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text">View Menu</span>
              </div>
            </button>
          </div>
        </div>

        <div class="home-offer-card">
          <div class="home-offer-image" >
            <img src="/assets/images/drinks1.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Drinks</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text">View Menu</span>
              </div>
            </button>
          </div>
        </div>

        <div class="home-offer-card">
          <div class="home-offer-image" >
            <img src="/assets/images/dessert1.jpg" alt="Service Image" />
          </div>
          <div class="home-offer-content">
            <div class="home-offer-title">
              <span>Dessert</span>
            </div>

            <button class="frutiger-button">
              <div class="inner">
                <div class="top-white"></div>
                <span class="frutiger-text">View Menu</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>


  </section>

  <section>
    <div class="home-dish">
      <div class="home-dish-content">
        <div class="home-dish-card" >
          <p ><span>BOK L'HONG</span></p>
          <p ><span>BAY CHA</span></p>
          <p ><span>S'LOR KOR KO</span></p>
        </div>
      </div>
      <div class="home-dish-content">
        <div class="home-dish-title">Special Dish</div>
        <div class="loader"></div>
        <div class="home-dish-name">S'LOR KOR KO</div>
        <div class="home-dish-des" >
          Lorem Ipsum is simply dummy text of the printingand typesetting
          industry lorem Ipsum has been the industrys standard dummy text ever
          since the when an unknown printer took a galley of type.
        </div>
        <button class="frutiger-button">
          <div class="inner">
            <div class="top-white"></div>
            <span class="frutiger-text">View Menu</span>
          </div>
        </button>
      </div>
    </div>
  </section>


  <section>
    <div class="home-menu">
      <div class="home-features-title">
        <div class="home-dish-title">Hightlights Menu</div>
        <div class="loader"></div>
        <div class="home-dish-name">Delicious Menu</div>
      </div>
      <div class="home-menu-card" >
        <div class="home-menu-emojis" >
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-1.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>

          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-2.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-3.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-4.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
        </div>
        <div class="home-menu-emojis">
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-5.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>

          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-6.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/beef-wellington.jpg" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-1.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
        </div>
        <div class="home-menu-emojis">
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-1.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>

          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-1.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-1.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
          <button>
            <div class="home-menu-small">
              <img src="/assets/images/menu-1.png" alt="" />
              <span>Greek Salad</span>
            </div>
          </button>
        </div>
      </div>
      <div class="home-menu-title">
        <div class="home-menu-des">
          During winter daily from 7:00 pm to 9:00 pm
        </div>
        <a href="#" class="home-menu-btn" id="reservationlink">View Menu</a>
      </div>
    </div>
  </section>

  <section>
    <div class="features-title">
      <div class="home-dish-title">Why Choose Us</div>
      <div class="loader"></div>
      <div class="home-dish-name">Our Strength</div>
      <div class="home-offer-dish-des">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry lorem Ipsum has been the industrys standard dummy text ever.
      </div>
    </div>
    <div class="features">
      <div class="feature-box" >
        <div class="feature-icon">
          <img src="/assets/images/features-icon-1.png" alt="Hygienic Food" />
        </div>
        <h3>Hygienic Food</h3>
        <p>Lorem Ipsum is simply dummy printing and typesetting.</p>
      </div>
      <div class="feature-box" >
        <div class="feature-icon">
          <img
            src="/assets/images/features-icon-2.png"
            alt="Fresh Environment"
          />
        </div>
        <h3>Fresh Environment</h3>
        <p>Lorem Ipsum is simply dummy printing and typesetting.</p>
      </div>
      <div class="feature-box" >
        <div class="feature-icon">
          <img src="/assets/images/features-icon-3.png" alt="Skilled Chefs" />
        </div>
        <h3>Skilled Chefs</h3>
        <p>Lorem Ipsum is simply dummy printing and typesetting.</p>
      </div>
      <div class="feature-box" >
        <div class="feature-icon">
          <img src="/assets/images/features-icon-4.png" alt="Event & Party" />
        </div>
        <h3>Event & Party</h3>
        <p>Lorem Ipsum is simply dummy printing and typesetting.</p>
      </div>
    </div>
  </section>
  <script>

      AOS.init();

    var nextBtn = document.querySelector('.next'),
    prevBtn = document.querySelector('.prev'),
    carousel = document.querySelector('.carousel'),
    list = document.querySelector('.list'), 
    item = document.querySelectorAll('.item'),
    runningTime = document.querySelector('.carousel .timeRunning') 

let timeRunning = 3000 
let timeAutoNext = 7000

nextBtn.onclick = function(){
    showSlider('next')
}

prevBtn.onclick = function(){
    showSlider('prev')
}

let runTimeOut 

let runNextAuto = setTimeout(() => {
    nextBtn.click()
}, timeAutoNext)


function resetTimeAnimation() {
    runningTime.style.animation = 'none'
    runningTime.offsetHeight /* trigger reflow */
    runningTime.style.animation = null 
    runningTime.style.animation = 'runningTime 7s linear 1 forwards'
}


function showSlider(type) {
    let sliderItemsDom = list.querySelectorAll('.carousel .list .item')
    if(type === 'next'){
        list.appendChild(sliderItemsDom[0])
        carousel.classList.add('next')
    } else{
        list.prepend(sliderItemsDom[sliderItemsDom.length - 1])
        carousel.classList.add('prev')
    }

    clearTimeout(runTimeOut)

    runTimeOut = setTimeout( () => {
        carousel.classList.remove('next')
        carousel.classList.remove('prev')
    }, timeRunning)


    clearTimeout(runNextAuto)
    runNextAuto = setTimeout(() => {
        nextBtn.click()
    }, timeAutoNext)

    resetTimeAnimation() // Reset the running time animation
}

// Start the initial animation 
resetTimeAnimation()
  </script>
</body>
</html>